{% load i18n %}
{% load navactive %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
            </button>
            <a class="navbar-brand" href="#">{% trans "Skill Check" %}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% navactive request 'skillcheck:view_index' %}">
                    <a href="{% url 'skillcheck:view_index' %}">{% trans "Manage Characters" %}</a>
                </li>
                {% if perms.skillcheck.affect_skillset %}
                <li class="{% navactive request 'skillcheck:skillsets_view' %}">
                    <a href="{% url 'skillcheck:skillsets_view' %}">{% trans "Manage SkillSets" %}</a>
                </li>
                <li class="{% navactive request 'skillcheck:collections_view' %}">
                    <a href="{% url 'skillcheck:collections_view' %}">{% trans "Manage Collections" %}</a>
                </li>
                {% endif %}
                {% if perms.skillcheck.compare_skillset %}
                    <li class="{% navactive request 'skillcheck:check_character_selection_view' %}">
                        <a href="{% url 'skillcheck:check_character_selection_view' %}">{% trans "Check Character" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>