{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Skill Check {% endblock %}

{% block page_title %}Character Skills{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'skillcheck/partials/menu.html' %}
    <div class="col-lg-12">
        <div class="container">
        <div class="row">

            {% for key, value in groups.items %}
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#group-{{ key }}"><i class="fa  fa-bars"></i> {{ value.0 }}</div>
                <div class="panel-body collapse" id="group-{{ key }}">
                    <table  class="table table-striped table-condensed">
                        <tbody>
                        {% for setskill in value.1 %}
                        <tr{% if setskill.level >= 5 %} class="success"{% endif %}>
                            <td>{{ setskill.skill.name }}</td><td>{{ setskill.level }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                    
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
{% endblock content %}
