{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Skill Check {% endblock %}

{% block page_title %}Select Test Skillset{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'skillcheck/partials/menu.html' %}
    <div class="col-lg-12">
        <div class="container">
        <!-- Add new skillset row -->
        <div class="row">
            <form class="form-inline" action="{% url 'skillcheck:check_character_view' %}" method="get">
                <select name="character_id" class="form-control">
                {% for char in characters %}
                    <option value="{{ char.character_id }}">{{ char.character_name }}</option>
                {% endfor %}
                </select>
                <select name="collection_id" class="form-control">
                {% for collection in collections %}
                    <option value="{{ collection.id }}">{{ collection.name }}</option>
                {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Run Check</button>
            </form>
        </div>
        {% if perms.skillcheck.view_character_skillset %}
        <div class="row">
            <div class="input-group">
            <select id="showskills-charid" name="character_id" class="form-control">
            {% for char in characters %}
                <option value="{% url 'skillcheck:character_skills_show_view' char.character_id %}">{{ char.character_name }}</option>
            {% endfor %}
            </select>
            <span class="input-group-btn">
                <button data-action="show-skills" class="btn btn-primary" type="submit">Show Skills</button>
            </span>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'skillcheck/check_selection.js' %}"></script>
{% endblock extra_javascript %}