{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Skill Check {% endblock %}

{% block page_title %}Select Test Skillset{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'skillcheck/partials/menu.html' %}
    <div class="col-lg-12">
        <div class="container">
        <!-- Add new skillset row -->
        <div class="row">
            <form class="form-inline" action="{% url 'skillcheck:collection_add_set' collection.id %}" method="post">
                {% csrf_token %}
                <select name="set_name" class="form-control">
                    {% for skillset in skillsets %}
                    <option value="{{ skillset.name }}">{{ skillset.name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Add Set to Collection</button>
            </form>
        </div>
        <!-- List skill sets with link to edit page -->
        <div class="row">
            <h4>{{ collection.name }}</h4>
            <table class="table">
                <thead><th>Name</th><th>Remove</th></thead>
                <tbody>
                    {% for skillset in collection.skillsets.all %}
                    <tr id="set-{{ skillset.id }}">
                        <td><a target="_blank" href="{% url 'skillcheck:skillset_edit_view' skillset.id %}">{{ skillset.name }}</a></td>
                        <td><button class="btn btn-danger btn-xs" data-action="remove-set" data-id="{{ skillset.id }}" data-url="{% url 'skillcheck:collection_remove_set' collection.id %}">Remove</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'skillcheck/helper.js' %}"></script>
<script src="{% static 'skillcheck/collection_edit.js' %}"></script>
{% endblock extra_javascript %}