{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Skillcheck {% endblock %}

{% block page_title %}View Chars{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'skillcheck/partials/menu.html' %}
    <div class="row">
    <table class="table">
    <thead><th>Character</th><th>Update</th><th>Show Skills</th></thead>
    <tbody>
        {% for character in characters %}
        <tr>
            <td>{{character.character_name}}</td>
            <td>
                <form action="{% url 'skillcheck:character_skills_update' character_id=character.character_id %}" method="post" class="form-inline">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm" type="submit">Update Skills</button>
                </form>
            </td>
            <td>
                <a class="btn btn-info btn-sm" href="{% url 'skillcheck:character_skills_show_view' character_id=character.character_id %}">Show Skills</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock content %}
