{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Skill Check {% endblock %}

{% block page_title %}Select Test Skillset{% endblock page_title %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css"
 integrity="sha256-ULjuiZ9iqqf97EETp/mZrnLusfOwISiI6AIL0IXShbc=" crossorigin="anonymous" />
{% endblock extra_css %}

{% block content %}
    {% include 'skillcheck/partials/menu.html' %}
    <div class="col-lg-12">
        <div class="container">
        <!-- Add new skillset row -->
        <div class="row">
            <div class="col-sm-6" id="skilltree"></div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="input-group">
                        <input class="form-control" type="number" min="0" max="5" id="skilllevel" placeholder="0...5">
                        <span class="input-group-btn">
                            <button data-action="update-skill" data-setid="{{ skillset.id }}" class="btn btn-primary" id="addskill">Add/Upate Skill</button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <h4>{{ skillset.name }}</h4>
                    <table class="table" id="skilltable">
                        <thead>
                            <th>Name</th><th>Required Level</th><th>Remove</th>
                        </thead>
                        <tbody>
                            {% for setskill in skillset.skillsetskill_set.all %}
                            <tr id="skill-{{ setskill.skill.skill_id }}">
                                <td>{{ setskill.skill.name }}</td>
                                <td>{{ setskill.level }}</td>
                                <td><button class="btn btn-danger btn-xs" data-action="remove-skill" data-skillid="{{ setskill.skill.skill_id }}" data-setid="{{skillset.id}}">Remove</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
{% block extra_javascript %}
<script type="text/javascript">
    {% include 'skillcheck/partials/urls.js' %}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"
 integrity="sha256-rmZZb5ESAjCE4Al5RfENzQBpw1VbShzLes76aW8c+kc=" crossorigin="anonymous"></script>
<script src="{% static 'skillcheck/helper.js' %}"></script>
<script src="{% static 'skillcheck/skillset_edit.js' %}"></script>
{% endblock extra_javascript %}