{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Skill Check {% endblock %}

{% block page_title %}Select Test Skillset{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'skillcheck/partials/menu.html' %}
    <div class="col-lg-12">
        <div class="container">
        <!-- Add new skillset row -->
        <div class="row">
            <form class="form-inline" action="{% url 'skillcheck:skillset_add' %}" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="setname" placeholder="{% trans "Set Name" %}">
                <button class="btn btn-primary" type="submit">Create New Set</button>
            </form>
        </div>
        <!-- List skill sets with link to edit page -->
        <div class="row">
            <table class="table">
                <thead><th>Set Name</th><th>Remove</th></thead>
                <tbody>
                    {% for skillset in skillsets %}
                    <tr id="skillset-{{ skillset.id }}">
                        <td>
                        <a href="{% url 'skillcheck:skillset_edit_view' skillset.id %}">{{ skillset.name }}</a>
                        </td>
                        
                        <td>
                            <button class="btn btn-danger btn-xs" data-action="remove-set" data-id="{{ skillset.id }}" data-url="{% url 'skillcheck:skillset_remove' %}">Remove</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'skillcheck/helper.js' %}"></script>
<script src="{% static 'skillcheck/skillset_view.js' %}"></script>
{% endblock extra_javascript %}